<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Clear out machine-wide sources and explicitly add the source we want to use for our projects -->
    <clear />
    <add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
    <!-- Do not add more sources in this file; instead reach out to biessupport if you need more packages or upstream sources added -->
  </packageSources>
</configuration>